body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

ol {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    margin-bottom: 10px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #333;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

.recipe-image {
    display: block;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ingredients {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    text-align: center;
    color: #333;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}